[toolchain]
anchor_version = "0.32.1"

[features]
seeds = true
skip_lint = false

[programs.devnet]
aegis_test = "4fphJK6m2gbb8zdbkpk8JcNzVgpiMucZ6hRkVcnhoNBD"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
